/* common shared styles  */
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

/* Global  */
.global-text-color {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 19px 36px;
}

/* Nav releted styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 51px;
}

nav li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
nav li button a {
  color: white;
  text-decoration: none;
}
/* header related styles  */
.header {
  background-color: #fff8f3;
  background-image: url("/images/developer.png");
  background-repeat: no-repeat;
  background-position: 15px;
}

.hero {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.banner .profile-pic {
  width: 500px;
}
.hero-greeting {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}

.hero-heading {
  font-size: 68px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0px;
}
.hero-des {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 585px;
}

/* Main sections styles  */
main {
  max-width: 1140px;
  max-height: 550px;
  margin: 90px auto;
}
/* About Section  */
.about {
  border-radius: 10px;
  background: #fff8f3;
  flex-shrink: 0;
  padding: 131px 157px;
}

.about h3 {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.about-sec-des {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info {
  text-align: center;
  font-size: 20px;
}

.info-title {
  color: #757575;
  font-weight: 400;
}

.info-des {
  color: #474747;
  font-weight: 700;
}
